
blockquote {
  margin: 20px 20px 20px 0;
  padding: 0 15px 0 0;
  border-left: none;
  border-right: 7px solid #e25401;
}
ul {
  margin: 0 15px 0 0;
}
ul.inline li {
  margin: 0 0 0 10px;
}
ol {
  margin: 0 15px 0 0;
}
th,
td {
  text-align: right;
}
caption {
  text-align: right;
}
input.form-button,
input.form-submit {
  margin: 0 0 0 5px;
}
