
/**
 * Wrappers
 */
body,
#main-wrapper,
#main,
#content-wrapper,
#content,
#page {
  margin: 0!important;
  padding: 0!important;
  min-width: 0!important;
  max-width: none!important;
  width: 100%!important;
  border: none!important;
  background: none!important;
}

/**
 * Elements
 */
body {
  font-size: 10pt;
  color: #000;
  word-spacing: 1.1pt;
  line-height: 1.4;
}
body * {
  font-family: "Times New Roman", serif!important;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
h4,
h5,
h6 {
  font-size: 12pt;
}
a {
  border-bottom: 1px solid #cfdde5;
}

/**
 * Hidden
 */
#toolbar,
#navigation-wrapper,
#header-wrapper,
.breadcrumb,
ul.links,
.messages,
.tabs,
#sidebar-first,
#sidebar-second,
#secondary-menu,
ul.pager,
a.feed-icon,
h2#add-comment-form,
form#comment-form {
  display: none!important;
}
